.wish{
    position: absolute;
    top: 2%;
    display: flex;
    right: 25px;
    font-size: xx-large;
    cursor: pointer;
}

.card-content{
    width: 307px;
}
.cats{
    width: 190px;
}

.card{
    transition: all 0.5s;
}

.card:hover{
    transform: scale(1.10);
}

.cards{
    width: 1280px;
}
.list-group-item{
    font-size: x-large;
    padding: 0 0 0 0;
}
.images{
    width: 65%;
}
.images img{
    margin-top: 5px;
    margin-right: 2px;
}

.quantity span{
    width: 100%;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.quantities span.num{
    border-right: 2px solid black;
    border-left: 2px solid black;
    pointer-events: none;
}