ul.li{
    margin-top: 20px;
}

#qyt{
    width: 40px;
    margin-left: 10px;
}

.product-details{
    display: flex;
}

.images img{
    width: 450px;
}

@media (max-width: 768px){
    .images{
        width: 100%;
    }
    .images img{
        width: 171px;
    }
    .product-details{
        display: block;
    }
}