.card {
    border-radius: 15px;
}

/* .profile{
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 60px;
} */

@media (max-width: 768px){
    .profile{
        max-width: 90%;
    }
}

@media (max-width: 992px){
    .profile{
        max-width: 80%;
    }
}

@media (max-width: 1200px){
    .profile{
        max-width: 1100px;
    }
}